POSTGRESQL_USER="user"
POSTGRESQL_PASS="pass"
POSTGRESQL_DB="db_name"
DB_ENCRYPTION_KEY="veramo_key"
CHEQD_PAYER_SEED="leap_wallet_key"
ALCHEMY_API_KEY="example_api_key"
SEPOLIA_PRIVATE_KEY="private_key"
ETHERSCAN_API_KEY="etherscan_key"